@model AirlinesReservationSystem.Models.Flight

@{
    ViewBag.Title = "FlightEdit";
    var RouteData = (IEnumerable<AirlinesReservationSystem.Models.Route>)ViewBag.RouteData;
    var airlineList = AirlinesReservationSystem.Models.arsadmin.AirlineDAO.GetAirlineList();
    var aircraftList = AirlinesReservationSystem.Models.arsadmin.AircraftDAO.GetAircraftList();
    var airportList = AirlinesReservationSystem.Models.arsadmin.AirportDAO.GetAirlineList();

}
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.full.min.js"></script>
@helper routeSelect(int RNo)
{
    if (Model.RNo == RNo)
    {
        @:selected
    }
}
<h2>Flight - Edit <a href="/arsadmin/flight" class="btn btn-warning">Back to list</a></h2>
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.FNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FNo, new { @class = "form-control", @style = "width:100%", @readonly = true })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.RNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" style="width:100%" id="RNo" name="RNo">
                        @foreach (var route in RouteData)
                        {
                            <option value="@route.RNo" @routeSelect(route.RNo)>
                                @airlineList.FirstOrDefault(al => al.AirlineID == route.RAirline).AirlineName
                                (@aircraftList.FirstOrDefault(ac => ac.AircraftID == route.RAircraft).AircraftName):
                                @airportList.FirstOrDefault(al => al.AirportID == route.Departure).AirportName =>
                                @airportList.FirstOrDefault(al => al.AirportID == route.Destination).AirportName
                            </option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.RNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-inline">
                @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DepartureTime, "{0:s}", new { @class = "form-control", @style = "width:100%", @type = "datetime-local" })
                </div>
                @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ArrivalTime, "{0:s}", new { @class = "form-control", @style = "width:100%", @type = "datetime-local" })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.BasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BasePrice, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Update" class="btn btn-success" />
                    <input type="reset" value="Reset" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }
</div>

<script>
    $('#RNo').select2();
</script>