@model AirlinesReservationSystem.Models.Flight

@{
    ViewBag.Title = "FlightAdd";
    var RouteData = (IEnumerable<AirlinesReservationSystem.Models.Route>)ViewBag.RouteData;
}

<h2>Flight - Add new Flight <a href="/arsadmin/flight" class="btn btn-warning">Back to list</a></h2>
<div class="container">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">
                @Html.LabelFor(model => model.FNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FNo, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.FNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.RNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" style="width:100%" id="RNo" name="RNo">
                        @foreach (var route in RouteData)
                        {
                            <option value="@route.RNo">@route.Airline.AirlineName (@route.Airline.AirlineID): @route.DepartureAirport.AirportName => @route.DestinationAirport.AirportName</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.RNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group form-inline">
                @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.DepartureTime, new { @class = "form-control", @style = "width:100%", @type = "datetime-local" })
                </div>
                @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.ArrivalTime, new { @class = "form-control", @style = "width:100%", @type = "datetime-local" })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.BasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BasePrice, new { htmlAttributes = new { @class = "form-control", @style = "width:100%" } })
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.BasePrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <input type="submit" value="Add this Flight" class="btn btn-success" />
                    <input type="reset" value="Reset" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }
</div>