@model List<AirlinesReservationSystem.Models.Route>

@{
    ViewBag.Title = "RouteAdd";
}
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>
<h2>Route - Add new Route <a href="/arsadmin/route" class="btn btn-warning">Back to list</a></h2>
<div class="col-md-12">&nbsp;</div>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-hover table-bordered" id="frmRoute">
            <tr class="table-ars">
                <th>
                    @Html.DisplayNameFor(model => model[0].Airline.AirlineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Aircraft.AircraftName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DepartureAirport.AirportName)
                </th>
                <th>
                    <div class="row">
                        <span class="col-md-6">@Html.DisplayNameFor(model => model[0].DestinationAirport.AirportName)</span>
                        <div class="col-md-6 text-md-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="form append buttons">
                                <button class="btn btn-danger" id="btnDeappend" type="button">-</button>
                                <button class="btn btn-success" id="btnAppend" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tbody id="RouteAddList"></tbody>
        </table>
        <button type="submit" class="btn btn-ars-light" id="btnSubmit">Add Route(s)</button>
    }
</div>

<script>
    $(document).ready(function () {
        var i = 0;
        appendForm();

        function appendForm() {
            $.post("/arsadmin/RouteAddTemplate?index=" + i, function (result) {
                $("#RouteAddList").append(result);
                i = i + 1;
            });
        }

        $('#btnAppend').click(function (e) {
            e.preventDefault();
            appendForm();
        });

        $('#btnDeappend').click(function (e) {
            $('#routeRow-' + (i - 1)).remove();
            if (i > 0) {
                i = i - 1;
            }
        });
    });
</script>