@model IEnumerable<AirlinesReservationSystem.Models.ars.FlightResult>

@{
    ViewBag.Title = "FlightList";
    bool roundTrip = bool.Parse(ViewBag.RoundTrip.ToString());
    var searchParams = (AirlinesReservationSystem.Models.ars.FlightSearch)Session["searchParams"];
    int totalPassenger = int.Parse(Session["totalPassenger"].ToString());
    var classToSearch = searchParams.Class;
}
<link href="~/Content/ars/FlightList.css" rel="stylesheet" />

<h2>FlightList</h2>

<!--refine search form-->
@*error msg if any*@
<div class="row">
    <span class="text-danger">@TempData["NoSeatsMessage"]</span>
</div>
<!--result list-->
@foreach (var item in Model)
{
    if (classToSearch == "E") { if (item.FlightVM.AvailSeatsE < totalPassenger) { continue; } }
    else if (classToSearch == "B") { if (item.FlightVM.AvailSeatsB < totalPassenger) { continue; } }
    else if (classToSearch == "F") { if (item.FlightVM.AvailSeatsF < totalPassenger) { continue; } }
    <div class="row border rounded shadow-sm mb-md-2 pb-md-2 pt-1 flightList-card">
        <div class="col-md-3">
            <p>@string.Format("{0:hh:mm tt}", item.FlightVM.DepartureTime) - @string.Format("{0:hh:mm tt}", item.FlightVM.ArrivalTime)</p>
            <p>
                <img src="~/img/ars/@item.AirlineVM.AirlineIcon" alt="@item.AirlineVM.AirlineName" class="airline-icon" /> <br />
                @item.AirlineVM.AirlineName
            </p>
        </div>
        <div class="col-md-6">
            <p>
                @{var flightTime = TimeSpan.FromHours(item.FlightVM.FlightTime);}
                @flightTime.ToString("hh")h  @flightTime.ToString("mm")m
            </p>
            <p>
                @item.RouteVM.Departure - @item.RouteVM.Destination
            </p>
        </div>
        <div class="col-md-3 row">
            <div class="col-md-4 text-md-right">
                <h3>$@item.FlightVM.BasePrice</h3>
            </div>
            <div class="col-md-8 text-md-left">
                @if (roundTrip)
                {@Html.ActionLink("Select", "FlightListReturn", new { fid = item.FlightVM.FNo, rid = item.RouteVM.RNo }, new { @class = "btn btn-ars-light mb-md-1 btn-ars-list" })}
                @Html.ActionLink("Select", "FlightDetails", new { fid = item.FlightVM.FNo, rid = item.RouteVM.RNo }, new { @class = "btn btn-ars-dark btn-ars-list" })
            </div>
        </div>
    </div>
}