@model IEnumerable<AirlinesReservationSystem.Models.ars.FlightResult>
@{
    ViewBag.Title = "FlightListWithStops2";
    bool roundTrip = bool.Parse(ViewBag.RoundTrip.ToString());
    var searchParams = (AirlinesReservationSystem.Models.ars.FlightSearch)Session["searchParams"];
    int totalPassenger = int.Parse(Session["totalPassenger"].ToString());
    string departure = searchParams.Departure;
    string destination = searchParams.Destination;
    var classToSearch = searchParams.Class;
    var firstTrip = (AirlinesReservationSystem.Models.ars.FlightResult)Session["firstTrip"];
}
<link href="~/Content/ars/FlightList.css" rel="stylesheet" />
<h3>First Trip:</h3>
<div class="row border rounded shadow-sm mb-md-2 pb-md-2 pt-1 flightList-card flightList-card-selected">
    <div class="col-md-3">
        <p>@string.Format("{0:hh:mm tt}", firstTrip.FlightVM.DepartureTime) - @string.Format("{0:hh:mm tt}", firstTrip.FlightVM.ArrivalTime)</p>
        <p>
            <img src="~/img/ars/@firstTrip.FlightVM.Route.Airline.AirlineIcon" alt="@firstTrip.FlightVM.Route.Airline.AirlineName" class="airline-icon" /> <br />
            @firstTrip.FlightVM.Route.Airline.AirlineName
        </p>
    </div>
    <div class="col-md-6">
        <p>
            @{var flightTime = TimeSpan.FromHours(firstTrip.FlightVM.FlightTime);}
            @flightTime.ToString("hh")h  @flightTime.ToString("mm")m
        </p>
        <p>
            @firstTrip.RouteVM.Departure - @firstTrip.RouteVM.Destination
        </p>
    </div>
    <div class="col-md-3 row">
        <div class="col-md-4 text-md-right">
            <h3>$@firstTrip.FlightVM.BasePrice</h3>
        </div>
        <div class="col-md-8 text-md-left">
            @Html.ActionLink("Select Another", "FlightListWithStops", new { @isReselect = true }, new { @class = "btn btn-ars-dark btn-ars-list" })
        </div>
    </div>
    <!--Flight Details-->
    <a data-toggle="collapse" href="#div_details_@firstTrip.FlightVM.FNo" class="row col-md-12 pl-md-4">Flight Details</a>
    <div id="div_details_@firstTrip.FlightVM.FNo" class="collapse hide row col-md-12">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <b>Flight Name:</b>
                    @firstTrip.FlightVM.FNo
                </li>
                <li class="list-group-item list-group-item-action">
                    <b>Plane:</b>
                    @firstTrip.FlightVM.Route.Aircraft.AircraftName
                </li>
                <li class="list-group-item list-group-item-action">
                    <b>Departure:</b>
                    @firstTrip.FlightVM.Route.DepartureAirport.AirportName
                </li>
                <li class="list-group-item list-group-item-action">
                    <b>Arrival:</b>
                    @firstTrip.FlightVM.Route.DestinationAirport.AirportName
                </li>
                <li class="list-group-item list-group-item-action">
                    <b>Takeoff:</b>
                    @firstTrip.FlightVM.DepartureTime
                </li>
                <li class="list-group-item list-group-item-action">
                    <b>Landing:</b>
                    @firstTrip.FlightVM.ArrivalTime
                </li>
                @{
                    int fcSeatsFT = 0, bSeatsFT = 0, eSeatsFT = 0;
                    if (firstTrip.FlightVM.AvailSeatsF != null) { fcSeatsFT = int.Parse(firstTrip.FlightVM.AvailSeatsF.ToString()); }
                    if (firstTrip.FlightVM.AvailSeatsB != null) { bSeatsFT = int.Parse(firstTrip.FlightVM.AvailSeatsB.ToString()); }
                    eSeatsFT = firstTrip.FlightVM.AvailSeatsE;
                }
                <li class="list-group-item list-group-item-action">
                    <b>Available Seats:</b>
                    <table class="table table-sm">
                        <tr class="text-md-center">
                            <th>First Class</th>
                            <th>Business</th>
                            <th>Economy</th>
                        </tr>
                        <tr class="text-md-center">
                            <td>@fcSeatsFT</td>
                            <td>@bSeatsFT</td>
                            <td>@eSeatsFT</td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
    <!--End of Flight Details-->
</div>

<h2>Showing flights to @destination from @firstTrip.FlightVM.Route.Destination</h2>

@foreach (var item in Model)
{
    if (item.RouteVM.Departure != firstTrip.RouteVM.Destination)
    {
        continue;
    }
    if (classToSearch == "E") { if (item.FlightVM.AvailSeatsE < totalPassenger) { continue; } }
    else if (classToSearch == "B") { if (item.FlightVM.AvailSeatsB < totalPassenger || item.FlightVM.AvailSeatsB == null) { continue; } }
    else if (classToSearch == "F") { if (item.FlightVM.AvailSeatsF < totalPassenger || item.FlightVM.AvailSeatsF == null) { continue; } }
    <div class="row border rounded shadow-sm mb-md-2 pb-md-2 pt-1 flightList-card">
        <div class="col-md-3">
            <p>@string.Format("{0:hh:mm tt}", item.FlightVM.DepartureTime) - @string.Format("{0:hh:mm tt}", item.FlightVM.ArrivalTime)</p>
            <p>
                <img src="~/img/ars/@item.FlightVM.Route.Airline.AirlineIcon" alt="@item.FlightVM.Route.Airline.AirlineName" class="airline-icon" /> <br />
                @item.FlightVM.Route.Airline.AirlineName
            </p>
        </div>
        <div class="col-md-6">
            <p>
                @{var retFlightTime = TimeSpan.FromHours(item.FlightVM.FlightTime);}
                @retFlightTime.ToString("hh")h  @retFlightTime.ToString("mm")m
            </p>
            <p>
                @item.RouteVM.Departure - @item.RouteVM.Destination
            </p>
        </div>
        <div class="col-md-3 row">
            <div class="col-md-4 text-md-right">
                <h3>$@item.FlightVM.BasePrice</h3>
            </div>
            <div class="col-md-8 text-md-left">
                @if (roundTrip)
                {
                    @Html.ActionLink("Select", "FlightListReturn", new { fid = item.FlightVM.FNo, rid = item.RouteVM.RNo }, new { @class = "btn btn-ars-light mb-md-1 btn-ars-list" })
                }
                else
                {
                    if (Session["reschedule"] != null)
                    {
                        @Html.ActionLink("Select", "PaymentReSchedule", new { FNo = firstTrip.FlightVM.FNo + "," + item.FlightVM.FNo }, new { @class = "btn btn-ars-light mb-md-1 btn-ars-list" })
                    }
                    else
                    {
                        @Html.ActionLink("Select", "Payment", new { FNo = firstTrip.FlightVM.FNo + "," + item.FlightVM.FNo }, new { @class = "btn btn-ars-light mb-md-1 btn-ars-list" })
                    }

                }
            </div>
        </div>
        <!--Flight Details-->
        <a data-toggle="collapse" href="#div_details_@item.FlightVM.FNo" class="row col-md-12 pl-md-4">Flight Details</a>
        <div id="div_details_@item.FlightVM.FNo" class="collapse hide row col-md-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <b>Flight Name:</b>
                        @item.FlightVM.FNo
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Plane:</b>
                        @item.FlightVM.Route.Aircraft.AircraftName
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Departure:</b>
                        @item.FlightVM.Route.DepartureAirport.AirportName
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Arrival:</b>
                        @item.FlightVM.Route.DestinationAirport.AirportName
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Takeoff:</b>
                        @item.FlightVM.DepartureTime
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Landing:</b>
                        @item.FlightVM.ArrivalTime
                    </li>
                    @{
                        int fcSeats = 0, bSeats = 0, eSeats = 0;
                        if (item.FlightVM.AvailSeatsF != null) { fcSeats = int.Parse(item.FlightVM.AvailSeatsF.ToString()); }
                        if (item.FlightVM.AvailSeatsB != null) { bSeats = int.Parse(item.FlightVM.AvailSeatsB.ToString()); }
                        eSeats = item.FlightVM.AvailSeatsE;
                    }
                    <li class="list-group-item list-group-item-action">
                        <b>Available Seats:</b>
                        <table class="table table-sm">
                            <tr class="text-md-center">
                                <th>First Class</th>
                                <th>Business</th>
                                <th>Economy</th>
                            </tr>
                            <tr class="text-md-center">
                                <td>@fcSeats</td>
                                <td>@bSeats</td>
                                <td>@eSeats</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <!--End of Flight Details-->
    </div>
}