@model AirlinesReservationSystem.Models.ars.FlightSearch
@{
    ViewBag.Title = "Index";
    var mostTravelRoute = AirlinesReservationSystem.Models.ars.StatisticDAO.TravelRoutes();
    var mostTravelAirline = AirlinesReservationSystem.Models.ars.StatisticDAO.TravelAirlines();
    var airlines = AirlinesReservationSystem.Models.ars.AirlineDAO.GetAirlines();
    var shownIcon = 0;
}

<link href="~/Content/ars/index.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/ars/indexAiports.js"></script>


<div class="row flightSearch">
    <div class="flightSearch-content container">
        <span class="text-danger" id="errorMessage">@TempData["errorM"]</span>
        <span id='dateError' style="display:none" class="text-danger row">Return date can't be earlier than departure date.</span>
        <span id='dateErrorNow' style="display:none" class="text-danger row">Departure date can't be earlier than current date.</span>
        <span id='seatError' style="display:none" class="text-danger row">Passenger numbers are invalid.</span>

        @using (Html.BeginForm("Index", "ARS", FormMethod.Post, new { @id = "flightSearchForm" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row col-md-12">
                <h3 class="mr-md-3">Search for flights</h3>
                <div class="btn-group btn-group-toggle pb-2" data-toggle="buttons" id="roundTripRadio">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="IsRoundTrip" id="optionOneWay" autocomplete="off" checked value="false"> One way
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="IsRoundTrip" id="optionRoundTrip" autocomplete="off" value="true">Roundtrip
                    </label>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group form-inline">
                    <div class="col-md-1 text-md-left">
                        From:
                    </div>
                    <div class="col-md-4">
                        <div class="ui-widget">
                            <select id="combobox" name="Departure">
                                <option></option>
                                @foreach (var item in AirlinesReservationSystem.Models.FlightSearchDAO.GetAirports())
                                {
                                    <option value="@item.AirportID">@item.CityName (@item.AirportID)</option>
                                }
                            </select>
                        </div>
                        <button id="toggle" hidden>Show underlying select</button>
                    </div>
                    <!--reverse button-->
                    <div class="col-md-1">
                        <button type="button" class="btn btn-light mx-auto" tabindex="99" id="btnSwap">&#8644;</button>
                    </div>

                    <div class="col-md-1 text-md-left">
                        To:
                    </div>
                    <div class="col-md-4">
                        <div class="ui-widget">
                            <select id="combobox1" name="Destination">
                                <option></option>
                                @foreach (var item in AirlinesReservationSystem.Models.FlightSearchDAO.GetAirports())
                                {
                                    <option value="@item.AirportID">@item.CityName (@item.AirportID)</option>
                                }
                            </select>
                        </div>
                        <button id="toggle" hidden>Show underlying select</button>
                    </div>
                </div>
                <div class="form-group form-inline" id="formDate">
                    <div class="col-md-6 row ml-md-0">
                        <label class="col-form-label">Departing: &nbsp;</label>
                        @Html.TextBoxFor(item => item.DepartureTime, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control col-md-6" })
                    </div>
                    <div id="returnDate" class="col-md-6 row ml-md-0">
                        <label class="col-form-label">Returning: &nbsp;</label>
                        @Html.TextBoxFor(item => item.ReturnDepartureTime, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control col-md-6" })
                    </div>
                </div>
                <h5 class="row">Travelers:</h5>
                <div class="form-group form-inline" id="formPassengers">
                    <label class="col-form-label mr-md-2">Adults:</label>
                    @Html.TextBoxFor(item => item.Adult, new { @Value = "1", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "adultNo" })
                    <label class="col-form-label ml-md-4 mr-md-2">Children:</label>
                    @Html.TextBoxFor(item => item.Children, new { @Value = "0", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "childrenNo" })
                    <label class="col-form-label ml-md-4 mr-md-2">Seniors:</label>
                    @Html.TextBoxFor(item => item.Senior, new { @Value = "0", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "seniorNo" })
                </div>
                <div class="form-group row">
                    <label class="col-form-label">Preferred Class: &nbsp;</label>
                    @Html.DropDownListFor(item => item.Class, AirlinesReservationSystem.Models.ars.Dropdowns.Classes(), new { @class = "form-control col-md-3" })
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-ars-dark" id="btnSubmit">Search</button>
                </div>
            </div>
        }
    </div>
</div>

<hr class="my-md-5" />

<div class="row col-md-12">
    <div class="col-md-4">
        <h3 class="col-md-12">Airline Partners</h3>
        <h5 class="col-md-12 text-black-50 my-md-3">Domestic & Regional Airline Partners</h5>
        <p class="col-md-12 text-md-left">
            We are partnering with various airlines across the region to get you to wherever you need to be.
        </p>
    </div>
    <div class="col-md-8">
        @foreach (var item in airlines)
        {
            if (!string.IsNullOrWhiteSpace(item.AirlineIcon))
            {
                <img src="~/img/ars/@item.AirlineIcon" class="airline-icon-index py-md-3 px-md-3" />
                shownIcon++;
            }
            if (shownIcon == 4)
            {
                <br />
                shownIcon = 0;
            }
        }
    </div>
</div>

<div class="row mt-5">
        <div class="col-md-4">
            Top 3 Travel Place:
            <ul class="list-unstyled">

                @foreach (var item in mostTravelRoute.Take(3))
                {
                    <li>@AirlinesReservationSystem.Models.arsadmin.RouteDAO.GetRoute(item.RNo).DestinationAirport.CityName (@item.Count)</li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            Top 3 Airline:
            <ul class="list-unstyled">

                @foreach (var item in mostTravelAirline.Take(3))
                {
                    <li>@AirlinesReservationSystem.Models.arsadmin.AirlineDAO.GetAirline(item.AirlineID).AirlineName (@item.Count)</li>
                }
            </ul>
        </div>

    </div>

<script src="~/Scripts/ars/index.js"></script>