@model AirlinesReservationSystem.Models.ars.FlightSearch
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/ars/index.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/ars/indexAiports.js"></script>


<div class="row flightSearch">
    <div class="flightSearch-content container">
        <span class="text-danger" id="errorMessage">@TempData["errorM"]</span>
        <span id='dateError' style="display:none" class="text-danger">Return date can't be earlier than departure date.</span>
        <span id='dateErrorNow' style="display:none" class="text-danger">Departure date can't be earlier than current date.</span>
        <span id='seatError' style="display:none" class="text-danger">Passenger numbers are invalid.</span>

        @using (Html.BeginForm("Index", "ARS", FormMethod.Post, new { @id = "flightSearchForm"}))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="row col-md-12">
                <h3 class="mr-md-3">Search for flights</h3>
                <div class="btn-group btn-group-toggle pb-2" data-toggle="buttons" id="roundTripRadio">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="IsRoundTrip" id="optionOneWay" autocomplete="off" checked value="false"> One way
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="IsRoundTrip" id="optionRoundTrip" autocomplete="off" value="true">Roundtrip
                    </label>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group form-inline">
                    <div class="col-md-1 text-md-left">
                        From:
                    </div>
                    
                    @*@Html.TextBoxFor(item => item.Departure, new { @class = "form-control col-md" })*@
                    <div class="col-md-4">
                        <div class="ui-widget">
                            <select id="combobox" name="Departure">
                                <option></option>
                                @foreach (var item in AirlinesReservationSystem.Models.FlightSearchDAO.GetAirports())
                                {
                                    <option value="@item.AirportID">@item.CityName (@item.AirportID)</option>
                                }
                            </select>
                        </div>
                        <button id="toggle" hidden>Show underlying select</button>
                    </div>
                    <!--reverse button-->
                    <div class="col-md-2">
                        <button type="button" class="btn btn-light mx-auto" tabindex="99" id="btnSwap">Swap</button>
                    </div>

                    <div class="col-md-1 text-md-left">
                        To:
                    </div>
                    @*@Html.TextBoxFor(item => item.Destination, new { @class = "form-control col-md" })*@
                    <div class="col-md-4">
                        <div class="ui-widget">
                            <select id="combobox1" name="Destination">
                                <option></option>
                                @foreach (var item in AirlinesReservationSystem.Models.FlightSearchDAO.GetAirports())
                                {
                                    <option value="@item.AirportID">@item.CityName (@item.AirportID)</option>
                                }
                            </select>
                        </div>
                        <button id="toggle" hidden>Show underlying select</button>
                    </div>
                </div>
                <div class="form-group row" id="formDate">
                    <div class="col-md-6 row">
                        <label class="col-form-label">Departing: &nbsp;</label>
                        @Html.TextBoxFor(item => item.DepartureTime, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control col-md-6" })
                    </div>
                    <div id="returnDate" class="col-md-6 row">
                        <label class="col-form-label">Returning: &nbsp;</label>
                        @Html.TextBoxFor(item => item.ReturnDepartureTime, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control col-md-6" })
                    </div>
                </div>
                <h5 class="row">Travelers:</h5>
                <div class="form-group row" id="formPassengers">
                    <label class="col-form-label mr-md-2">Adults:</label>
                    @Html.TextBoxFor(item => item.Adult, new { @Value = "1", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "adultNo" })
                    <label class="col-form-label ml-md-4 mr-md-2">Children:</label>
                    @Html.TextBoxFor(item => item.Children, new { @Value = "0", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "childrenNo" })
                    <label class="col-form-label ml-md-4 mr-md-2">Seniors:</label>
                    @Html.TextBoxFor(item => item.Senior, new { @Value = "0", @class = "form-control col-md-1", @min = "0", @type = "number", @id = "seniorNo" })
                </div>
                <div class="form-group row">
                    <label class="col-form-label">Preferred Class: &nbsp;</label>
                    @Html.DropDownListFor(item => item.Class, AirlinesReservationSystem.Models.ars.Dropdowns.Classes(), new { @class = "form-control col-md-3" })
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-ars-dark" id="btnSubmit">Search</button>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/ars/index.js"></script>
<script>
</script>