
@{
    ViewBag.Title = "Payment";
    int PeopleNum = ViewBag.PeopleNum;
    int AdultNum = ViewBag.PeopleNum;
    int ChildNum = ViewBag.PeopleNum;

    AirlinesReservationSystem.Models.Flight FInfo = AirlinesReservationSystem.Models.arsadmin.FlightDAO.GetFlight(ViewBag.FNo);
    AirlinesReservationSystem.Models.Flight ReFInfo = null;
    if (!string.IsNullOrEmpty(ViewBag.RFNo))
    {
        ReFInfo = AirlinesReservationSystem.Models.arsadmin.FlightDAO.GetFlight(ViewBag.RFNo);
    }

    var user = AirlinesReservationSystem.Models.ars.UsersDAO.GetUser(Session["user"].ToString());
    var serviceList = AirlinesReservationSystem.Models.arsadmin.ServiceDAO.GetServiceList();
}

<h2>Payment</h2>

<div class="row container-fluid" id="paymentMainDiv">
    @* ----- MAIN ----- *@
    <div class="col-8">
        <form id="frmPayment" name="frmPayment">
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-header">
                    <h4>Passenger Information</h4>
                </div>
                <div class="card-body">
                    <input type="hidden" id="PeopleNum" name="PeopleNum" value="@PeopleNum" />
                    <input type="hidden" name="FNo" id="FNo" value="@FInfo.FNo" />
                    <input type="hidden" id="FPrice" value="@FInfo.BasePrice" />
                    @if (ReFInfo != null)
                    {
                        <input type="hidden" name="ReFNo" id="ReFNo" value="@ReFInfo.FNo" />
                        <input type="hidden" id="ReFPrice" value="@ReFInfo.BasePrice" />
                    }

                    @for (int i = 1; i <= PeopleNum; i++)
                    {
                        <h5>Passenger @i</h5>
                        <div class="form-group form-inline">
                            <h6 class="col-md-4">
                                Firstname
                            </h6>
                            <h6 class="col-md-4">
                                Lastname
                            </h6>
                            <h6 class="col-md-2">
                                Gender
                            </h6>
                            <h6 class="col-md-2">
                                Age
                            </h6>
                            <div class="col-md-4">
                                <input type="text" name="Firstname" id="Firstname_@i" class="form-control" style="width:100%" placeholder="Passenger @i's Firstname" required maxlength="50" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="Lastname" id="Lastname_@i" class="form-control" style="width:100%" placeholder="Passenger @i's Lastname" required maxlength="50" />
                            </div>
                            <div class="col-md-2">
                                <select name="Sex" class="form-control" required>
                                    <option value="">Gender</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="number" name="Age" id="Age_@i" class="form-control" style="width:100%" min="1" max="100" required />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <h6 class="col-md-4">
                                Passport No.
                            </h6>
                            <h6 class="col-md-4">
                                Seat Class
                            </h6>
                            @if (ReFInfo != null)
                            {
                                <h6 class="col-md-4">
                                    Return Seat Class
                                </h6>
                            }
                            else
                            {
                                <div class="col-md-4"></div>
                            }
                            <div class="col-md-4">
                                <input type="text" name="PassportNo" class="form-control" style="width:100%" placeholder="Passport Number" required maxlength="10" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="name" value="@" />
                                @*<select name="Class" class="form-control" required style="width:100%" onchange="refreshPayment()">
                                    @if (FInfo.AvailSeatsE >= PeopleNum)
                                    {
                                        <option value="E">Economy</option>
                                    }
                                    @if (FInfo.AvailSeatsB >= PeopleNum)
                                    {
                                        <option value="B">Bussiness</option>
                                    }
                                    @if (FInfo.AvailSeatsF >= PeopleNum)
                                    {
                                        <option value="F">First Class</option>
                                    }
                                </select>*@
                            </div>
                            @if (ReFInfo != null)
                            {
                                <div class="col-md-4">
                                    <select name="ReClass" class="form-control" required style="width:100%" onchange="refreshPayment()">
                                        @if (ReFInfo.AvailSeatsE >= PeopleNum)
                                        {
                                            <option value="E">Economy</option>
                                        }
                                        @if (ReFInfo.AvailSeatsB >= PeopleNum)
                                        {
                                            <option value="B">Bussiness</option>
                                        }
                                        @if (ReFInfo.AvailSeatsF >= PeopleNum)
                                        {
                                            <option value="F">First Class</option>
                                        }
                                    </select>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4"></div>
                            }
                        </div>
                        <div class="card ml-3 mb-3">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#div_service_@i">Service for Passenger @i</a>
                            </div>
                            <div id="div_service_@i" class="collapse hide">
                                <div class="card-body">
                                    <div class="form-group">
                                        @foreach (var item in serviceList)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" value="@item.ServiceID" value2="@item.ServiceFee" name="Service@(i)" onchange="refreshPayment()">
                                                    @item.ServiceName
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <h4>Booking User</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5 text-right">Name</dt>
                        <dd class="col-7">@user.FirstName @user.LastName</dd>
                        <dt class="col-5 text-right">Email</dt>
                        <dd class="col-7">@user.Email</dd>
                        <dt class="col-5 text-right">Phone</dt>
                        <dd class="col-7">@user.Phone</dd>
                        <dt class="col-5 text-right">Credit Card No.</dt>
                        <dd class="col-7">
                            @user.CCNo.Substring(0, 4)
                            @for (int i = 0; i < @user.CCNo.Length - 4; i++)
                            {
                                @:*
                            }
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-2">
                <button type="button" class="btn btn-success" onclick="validatePayment('book')">
                    <h2>Book</h2>
                    <i>Permanently buy this flight</i>
                </button>
                <input type="submit" name="name" value="" class="text-hide" />
                <button type="button" class="btn btn-warning" onclick="validatePayment('block')">
                    <h2>Block</h2>
                    <i>Preserve first and pay after</i>
                </button>
            </div>
        </form>
    </div>

    @* ----- PAYMENT DETAIL ----- *@
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Payment's detail</h4>
            </div>
            <div class="card-body" id="paymentDiv">

            </div>
        </div>


    </div>
</div>
<div class="row container-fluid" id="paymentConfirmDiv">

</div>
<script>
    var fprice = $("#FPrice").val();
    var refprice = null;
    if ($("#FPrice").length) {
        refprice = $("#ReFPrice").val();
    }

    refreshPayment();

    function validatePayment(type) {
        if ($('#frmPayment')[0].checkValidity()) {
            var form = $("#frmPayment").serialize();
            if (type=="block") {
                form += "&IsBlock=''";
            }

            $.post("/ars/payment", form, function (result) {
                if (result.substring(0, 2) == "ok") {
                    window.location.href = "/ars/paymentresult?id=" + result.substring(3, result.length);
                } else {
                    $('#paymentConfirmDiv').html(result);
                }

                console.log(result);
            });
        } else {
            $('#frmPayment').find(':submit').click();
        }
    }

    function refreshPayment() {
        $("#paymentDiv").html("");
        var result = "";
        var peopleTotal = @(FInfo.BasePrice * PeopleNum);
        var serviceTotal = @(FInfo.Route.Aircraft.ServiceFee * PeopleNum);
        var classTotal = 0;
        var rePeopleTotal = 0;
        var reServiceTotal = 0;
        @if (ReFInfo!=null)
        {
            @:rePeopleTotal = @(ReFInfo.BasePrice * PeopleNum);
            @:reServiceTotal = @(ReFInfo.Route.Aircraft.ServiceFee * PeopleNum);
        }

        var total = +0;
        // First Flight
        result += "<dl class='row' style='background-color:#bababa'>";
        result += "<dt class='col-6'>";
        if (refprice == null) {
            result += "Flight:";
        } else {
            result += "First Flight:";
        }
        result += "</dt>";
        result += "<dd class='col-6 text-right'>@FInfo.Route.DepartureAirport.AirportID => @FInfo.Route.DestinationAirport.AirportID </dd>";
        result += "</dl>";

        result += "<dl class='row'>";
        result += "<dt class='col-7 text-right'>@PeopleNum x people(s)</dt>";
        result += "<dd class='col-5 text-right'>" + peopleTotal + "$</dd>";

        for (var i = 1; i <= @PeopleNum; i++) {
            $("#div_service_" + i + " input[name='Service" + i + "']:checked").each(function () {
                serviceTotal += +$(this).attr('value2');
                @if (ReFInfo!=null)
                {
                    @:reServiceTotal += +$(this).attr('value2');
                }

            });
        }
        if (serviceTotal>0) {
            result += "<dt class='col-7 text-right'>Services's fee</dt>";
            result += "<dd class='col-5 text-right'>" + serviceTotal + "$</dd>";
        }
        $("select[name='Class']").each(function () {
            var classVal = $(this).val();
            if (classVal == "F") {
                result += "<dt class='col-7 text-right'>First Class's fee</dt>";
                result += "<dd class='col-5 text-right'>20$</dd>";
                classTotal += 20;
            } else if (classVal == "B") {
                result += "<dt class='col-7 text-right'>Bussiness Class's fee</dt>";
                result += "<dd class='col-5 text-right'>10$</dd>";
                classTotal += 10;
            } else if (classVal == "E") {
                result += "<dt class='col-7 text-right'>Economy Class's fee</dt>";
                result += "<dd class='col-5 text-right'>0$</dd>";
            }
        });

        result += "</dl>";

        // Return Flight
        @if (ReFInfo!=null)
        {
            @:result += "<dl class='row' style='background-color:#bababa'>";
            @:result += "<dt class='col-6'>Return Flight</dt>";
            @:result += "<dd class='col-6 text-right'>@ReFInfo.Route.DepartureAirport.AirportID => @ReFInfo.Route.DestinationAirport.AirportID </dd>";
            @:result += "</dl>";

            @:result += "<dl class='row'>";
            @:result += "<dt class='col-7 text-right'>@PeopleNum x people(s)</dt>";
            @:result += "<dd class='col-5 text-right'>" + rePeopleTotal + "$</dd>";

            @:if (reServiceTotal>0) {
                @:result += "<dt class='col-7 text-right'>Services's fee</dt>";
                @:result += "<dd class='col-5 text-right'>" + reServiceTotal + "$</dd>";
            @:}

            @:$("select[name='ReClass']").each(function () {
            @:    var classVal = $(this).val();
            @:    if (classVal == "F") {
            @:        result += "<dt class='col-7 text-right'>First Class's fee</dt>";
            @:       result += "<dd class='col-5 text-right'>20$</dd>";
            @:        classTotal += 20;
            @:    } else if (classVal == "B") {
            @:        result += "<dt class='col-7 text-right'>Bussiness Class's fee</dt>";
            @:        result += "<dd class='col-5 text-right'>10$</dd>";
            @:        classTotal += 10;
            @:    } else if (classVal == "E") {
            @:        result += "<dt class='col-7 text-right'>Economy Class's fee</dt>";
            @:        result += "<dd class='col-5 text-right'>0$</dd>";
            @:    }
            @:});
            @:result += "</dl>";
        }
        result += "<hr>";
        result += "<dl class='row'>";
        result += "<dt class='col-6'>Total</dt>";
        total = peopleTotal + serviceTotal + rePeopleTotal + reServiceTotal + classTotal;
        result += "<dd class='col-6 text-right'>" + total + "$</dd>";

        $("#paymentDiv").html(result);
    }
</script>