
@{
    ViewBag.Title = "Payment";
    int PeopleNum = ViewBag.PeopleNum;
    int AdultNum = ViewBag.AdultNum;
    int ChildNum = ViewBag.ChildNum;
    string SeatClass = ViewBag.Class;
    string SeatName = "";
    int count = 1;
    if (SeatClass == "F")
    {
        SeatName = "First Class";
    }
    else if (SeatClass == "B")
    {
        SeatName = "Bussiness Class";
    }
    else
    {
        SeatName = "Economy Class";
    }
    AirlinesReservationSystem.Models.Flight FInfo = AirlinesReservationSystem.Models.arsadmin.FlightDAO.GetFlight(ViewBag.FNo);
    AirlinesReservationSystem.Models.Flight ReFInfo = null;
    if (!string.IsNullOrEmpty(ViewBag.ReFNo))
    {
        ReFInfo = AirlinesReservationSystem.Models.arsadmin.FlightDAO.GetFlight(ViewBag.ReFNo);
    }

    var user = AirlinesReservationSystem.Models.ars.UsersDAO.GetUser(Session["user"].ToString());
    var serviceList = AirlinesReservationSystem.Models.arsadmin.ServiceDAO.GetServiceList();
}

<h2>Payment</h2>

<div class="row container-fluid" id="paymentMainDiv">
    @* ----- MAIN ----- *@
    <div class="col-8">
        <form id="frmPayment" name="frmPayment">
            @Html.AntiForgeryToken()
            @* ----- INITIALIZE VARIABLE ----- *@
            <input type="hidden" id="PeopleNum" name="PeopleNum" value="@PeopleNum" />
            <input type="hidden" name="AdultNum" value="@AdultNum" />
            <input type="hidden" name="ChildNum" value="@ChildNum" />
            <input type="hidden" name="FNo" id="FNo" value="@FInfo.FNo" />
            <input type="hidden" id="FPrice" value="@FInfo.BasePrice" />
            <input type="hidden" name="Class" value="@SeatClass" />
            @if (ReFInfo != null)
            {
                <input type="hidden" name="ReFNo" id="ReFNo" value="@ReFInfo.FNo" />
                <input type="hidden" id="ReFPrice" value="@ReFInfo.BasePrice" />
            }
            <div class="card">
                <div class="card-header">
                    <h4>Passenger Information</h4>
                </div>
                <div class="card-body">
                    <div id="adultSection">
                        @* ----- ADULT INFO ----- *@
                        @for (int i = 1; i <= AdultNum; i++)
                        {
                            <h5>Adult @i</h5>
                            <div class="form-group form-inline">
                                <h6 class="col-md-4">
                                    Firstname
                                </h6>
                                <h6 class="col-md-4">
                                    Lastname
                                </h6>
                                <h6 class="col-md-2">
                                    Gender
                                </h6>
                                <h6 class="col-md-2">
                                    Age
                                </h6>
                                <div class="col-md-4">
                                    <input type="text" name="Firstname" class="form-control" style="width:100%" placeholder="Adult @i's Firstname" required maxlength="50" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="Lastname" class="form-control" style="width:100%" placeholder="Adult @i's Lastname" required maxlength="50" />
                                </div>
                                <div class="col-md-2">
                                    <select name="Sex" class="form-control" required>
                                        <option value="">Gender</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" name="Age" class="form-control" style="width:100%" min="14" max="100" required />
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <h6 class="col-md-4">
                                    Passport No.
                                </h6>
                                <h6 class="col-md-4">
                                    Seat Class
                                </h6>
                                @if (ReFInfo != null)
                                {
                                    <h6 class="col-md-4">
                                        Return Seat Class
                                    </h6>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                                <div class="col-md-4">
                                    <input type="text" name="PassportNo" class="form-control" style="width:100%" placeholder="Passport Number" required maxlength="10" onkeyup="refreshPassport()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" value="@SeatName" readonly class="form-control" style="width:100%" />
                                    @*<select name="Class" class="form-control" required style="width:100%" onchange="refreshPayment()">
                                            @if (FInfo.AvailSeatsE >= PeopleNum)
                                            {
                                                <option value="E">Economy</option>
                                            }
                                            @if (FInfo.AvailSeatsB >= PeopleNum)
                                            {
                                                <option value="B">Bussiness</option>
                                            }
                                            @if (FInfo.AvailSeatsF >= PeopleNum)
                                            {
                                                <option value="F">First Class</option>
                                            }
                                        </select>*@
                                </div>
                                @if (ReFInfo != null)
                                {
                                    <div class="col-md-4">
                                        <input type="text" value="@SeatName" readonly class="form-control" style="width:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                            </div>
                            <div class="card ml-3 mb-3">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#div_service_@count">Service for Adult @i</a>
                                </div>
                                <div id="div_service_@count" class="collapse hide">
                                    <div class="card-body">
                                        <div class="form-group">
                                            @foreach (var item in serviceList)
                                            {
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="@item.ServiceID" value2="@item.ServiceFee" name="Service@(count)" onchange="refreshPayment()">
                                                        @item.ServiceName
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            count++;
                        }
                    </div>
                    <div id="childSection">
                        @* ----- CHILDREN INFO ----- *@
                        @for (int i = 1; i <= ChildNum; i++)
                        {
                            <h5>Children @i</h5>
                            <div class="form-group form-inline">
                                <h6 class="col-md-4">
                                    Firstname
                                </h6>
                                <h6 class="col-md-4">
                                    Lastname
                                </h6>
                                <h6 class="col-md-2">
                                    Gender
                                </h6>
                                <h6 class="col-md-2">
                                    Age
                                </h6>
                                <div class="col-md-4">
                                    <input type="text" name="Firstname" class="form-control" style="width:100%" placeholder="Children @i's Firstname" required maxlength="50" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="Lastname" class="form-control" style="width:100%" placeholder="Children @i's Lastname" required maxlength="50" />
                                </div>
                                <div class="col-md-2">
                                    <select name="Sex" class="form-control" required>
                                        <option value="">Gender</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" name="Age" class="form-control" style="width:100%" min="2" max="13" required />
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <h6 class="col-md-4">
                                    Dependant's Passport No.
                                </h6>
                                <h6 class="col-md-4">
                                    Seat Class
                                </h6>
                                @if (ReFInfo != null)
                                {
                                    <h6 class="col-md-4">
                                        Return Seat Class
                                    </h6>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                                <div class="col-md-4">
                                    @*<input type="text" name="PassportNo" class="form-control" style="width:100%" placeholder="Passport Number" required maxlength="10" />*@
                                    <select class="form-control" style="width:100%" required name="PassportNo"></select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" value="@SeatName" readonly class="form-control" style="width:100%" />
                                </div>
                                @if (ReFInfo != null)
                                {
                                    <div class="col-md-4">
                                        <input type="text" value="@SeatName" readonly class="form-control" style="width:100%" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4"></div>
                                }
                            </div>
                            <div class="card ml-3 mb-3">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#div_service_@count">Service for Children @i</a>
                                </div>
                                <div id="div_service_@count" class="collapse hide">
                                    <div class="card-body">
                                        <div class="form-group">
                                            @foreach (var item in serviceList)
                                            {
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" value="@item.ServiceID" value2="@item.ServiceFee" name="Service@(count)" onchange="refreshPayment()">
                                                        @item.ServiceName
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            count++;
                        }
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <h4>Booking User</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-5 text-right">Name</dt>
                        <dd class="col-7">@user.FirstName @user.LastName</dd>
                        <dt class="col-5 text-right">Email</dt>
                        <dd class="col-7">@user.Email</dd>
                        <dt class="col-5 text-right">Phone</dt>
                        <dd class="col-7">@user.Phone</dd>
                        <dt class="col-5 text-right">Credit Card No.</dt>
                        <dd class="col-7">

                            @for (int i = 0; i < user.CCNo.Length - 4; i++)
                            {
                                @:*
                            }
                            @user.CCNo.Substring(user.CCNo.Length - 4, 4)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="text-center mt-2">
                <button type="button" class="btn btn-success" onclick="validatePayment('book')">
                    <h2>Book</h2>
                    <i>Permanently buy this flight</i>
                </button>
                <input type="submit" name="name" value="" class="text-hide" />
                @if (FInfo.DepartureTime.AddDays(-14) >= System.DateTime.Now)
                {
                    <button type="button" class="btn btn-warning" onclick="validatePayment('block')">
                        <h2>Block</h2>
                        <i>Preserve first and pay after</i>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary">
                        <h2>Cannot Block this flight</h2>
                        <i>Cannot block if in 2 weeks before the Departure time</i>
                    </button>
                }

            </div>
        </form>
    </div>

    @* ----- PAYMENT DETAIL ----- *@
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Payment's detail</h4>
            </div>
            <div class="card-body" id="paymentDiv">

            </div>
        </div>


    </div>
</div>
<div class="row container-fluid" id="paymentConfirmDiv">

</div>
<script>
    var fprice = $("#FPrice").val();
    var refprice = null;
    if ($("#FPrice").length) {
        refprice = $("#ReFPrice").val();
    }

    refreshPayment();
    refreshPassport();

    function validatePayment(type) {
        if ($('#frmPayment')[0].checkValidity()) {
            var form = $("#frmPayment").serialize();
            if (type=="block") {
                form += "&IsBlock=''";
            }

            $.post("/ars/payment", form, function (result) {
                if (result.substring(0, 2) == "ok") {
                    window.location.href = "/ars/paymentresult?id=" + result.substring(3, result.length);
                } else {
                    $('#paymentConfirmDiv').html(result);
                }

                console.log(result);
            });
        } else {
            $('#frmPayment').find(':submit').click();
        }
    }

    function refreshPassport() {
        if (@ChildNum > 0) {
            var insertStr = "";
            $("#adultSection input[name='PassportNo']").each(function () {
                if ($(this).val().trim()!="") {
                    insertStr += "<option value='" + $(this).val() + "'>" + $(this).val() + "</option>";
                }
            });
            if (insertStr.trim() == "") {
                insertStr = "<option value=''>Enter adult's passport first</option>";
            }
            $("#childSection select[name='PassportNo']").each(function () {
                $(this).html(insertStr);
            });
        }
    }

    function refreshPayment() {
        // init variable
        $("#paymentDiv").html("");
        var result = "";
        var daysToDeparture = parseInt(@((FInfo.DepartureTime - System.DateTime.Now).TotalDays));
        var adultTotal = @(FInfo.BasePrice * AdultNum);
        var childTotal = @(FInfo.BasePrice * ChildNum * 70/100);
        console.log(adultTotal);
        if (daysToDeparture <= 14) {
            adultTotal +=  @(FInfo.BasePrice * AdultNum)* 0.02 * (14 - daysToDeparture);
            console.log((14 - daysToDeparture));
            childTotal += @(FInfo.BasePrice * ChildNum * 70/100)* 0.02 * (14-daysToDeparture);
        }

        var serviceTotal = @(FInfo.Route.Aircraft.ServiceFee * PeopleNum);
        var classTotal = 0;
        var reAdultTotal = 0;
        var reChildTotal = 0;
        var reServiceTotal = 0;

        @if (ReFInfo!=null)
        {
            @:reAdultTotal = @(ReFInfo.BasePrice * AdultNum);
            @:reChildTotal = @(ReFInfo.BasePrice * ChildNum * 70/100);
            @:reServiceTotal = @(ReFInfo.Route.Aircraft.ServiceFee * PeopleNum);
        }
        var seatClass = "@SeatClass";
        var seatName = "";
        if (seatClass == "F")
        {
            seatName = "First Class";
        }
        else if (seatClass == "B")
        {
            seatName = "Bussiness Class";
        }
        else
        {
            seatName = "Economy Class";
        }
        var seatFee = 0;
        if (seatClass == "F") {
            seatFee = 20;
        } else if (seatClass == "B") {
            seatFee = 10;
        }


        // Start calculate and generate payment detail
        var total = +0;
        // --First Flight
        result += "<dl class='row' style='background-color:#bababa'>";
        result += "<dt class='col-6'>";
        if (refprice == null) {
            result += "Flight:";
        } else {
            result += "First Flight:";
        }
        result += "</dt>";
        result += "<dd class='col-6 text-right'>@FInfo.Route.DepartureAirport.AirportID => @FInfo.Route.DestinationAirport.AirportID </dd>";
        result += "<dt class=''></dt>";
        result += "<dd class='col-12 text-right'>@FInfo.DepartureTime <br>=> @FInfo.ArrivalTime</dd>";
        result += "</dl>";

        result += "<dl class='row'>";
        result += "<dt class='col-7 text-right'>@AdultNum x adult(s)</dt>";
        result += "<dd class='col-5 text-right'>" + adultTotal + "$</dd>";
        @if (ChildNum>0)
        {
            @:result += "<dt class='col-7 text-right'>@ChildNum x child(s)</dt>";
            @:result += "<dd class='col-5 text-right'>" + childTotal + "$</dd>";
        }
        for (var i = 1; i <= @PeopleNum; i++) {
            $("#div_service_" + i + " input[name='Service" + i + "']:checked").each(function () {
                serviceTotal += +$(this).attr('value2');
                @if (ReFInfo!=null)
                {
                    @:reServiceTotal += +$(this).attr('value2');
                }

            });
        }
        if (serviceTotal>0) {
            result += "<dt class='col-7 text-right'>Services's fee</dt>";
            result += "<dd class='col-5 text-right'>" + serviceTotal + "$</dd>";
        }

        result += "<dt class='col-7 text-right'>" + seatName + " ";
        if (@PeopleNum > 1) {
            result += "x @PeopleNum";
        }
        result += "</dt>";
        result += "<dd class='col-5 text-right'>" + seatFee*@PeopleNum + "$</dd>";
        classTotal += (+seatFee * @PeopleNum);
        result += "</dl>";


        // --Return Flight
        @if (ReFInfo!=null)
        {
            @:result += "<dl class='row' style='background-color:#bababa'>";
            @:result += "<dt class='col-6'>Return Flight</dt>";
            @:result += "<dd class='col-6 text-right'>@ReFInfo.Route.DepartureAirport.AirportID => @ReFInfo.Route.DestinationAirport.AirportID </dd>";
            @:result += "<dt class=''></dt>";
            @:result += "<dd class='col-12 text-right'>@ReFInfo.DepartureTime <br>=> @ReFInfo.ArrivalTime</dd>";
            @:result += "</dl>";

            @:result += "<dl class='row'>";
            @:result += "<dt class='col-7 text-right'>@AdultNum x adult(s)</dt>";
            @:result += "<dd class='col-5 text-right'>" + reAdultTotal + "$</dd>";
            if (ChildNum > 0)
            {
                @:result += "<dt class='col-7 text-right'>@ChildNum x child(s)</dt>";
                @:result += "<dd class='col-5 text-right'>" + reChildTotal + "$</dd>";
            }
            @:if (reServiceTotal>0) {
                @:result += "<dt class='col-7 text-right'>Services's fee</dt>";
                @:result += "<dd class='col-5 text-right'>" + reServiceTotal + "$</dd>";
            @:}

            @:result += "<dt class='col-7 text-right'>" + seatName + " ";
            @:if (@PeopleNum > 1) {
            @:result += "x @PeopleNum";
            @:}
            @:result += "</dt>";
            @:result += "<dd class='col-5 text-right'>" + seatFee*@PeopleNum + "$</dd>";
            @:classTotal += (+seatFee * @PeopleNum);
            @:result += "</dl>";
        }
        result += "<hr>";
        result += "<dl class='row'>";
        result += "<dt class='col-6'>Total</dt>";
        total = adultTotal + childTotal + serviceTotal + reAdultTotal + reChildTotal + reServiceTotal + classTotal;
        result += "<dd class='col-6 text-right'>" + total + "$</dd>";

        $("#paymentDiv").html(result);
    }
</script>