<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARS Admin - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ars/layout.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ars/layoutadmin.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
@{
    AirlinesReservationSystem.Models.Employee e;
    if (Session["employee"] == null)
    {
        e = null;
    }
    else
    {
        e = (AirlinesReservationSystem.Models.Employee)Session["employee"];
    }
}
<body>
    <!--start of navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-ars">
        <div class="container">
            <a href="~/arsadmin" class="navbar-brand">
                <img src="~/img/ars/Logo.png" alt="ARS" class="d-inline-block align-top img-fluid" />
            </a>
            <div class="navbar-text font-weight-bold">Admin Page</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    @*<li class="nav-item">
                        <a href="#" class="nav-link">Admin Something</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="#">Action Admin</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Another action Admin</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here admin</a>
                        </div>
                    </li>*@
                </ul>
                <div class="navbar-nav">

                    @if (e == null)
                    {
                        @Html.ActionLink("Login", "Login", null, new { @class = "nav-link" })
                    }
                    else
                    {
                        <div class="navbar-text">Hi, <b>@(e.EmpID)</b>!</div>
                        @Html.ActionLink("Logout", "Logout", null, new { @class = "nav-link" })
                    }

                </div>
            </div>
        </div>
    </nav>
    <p></p>

    @helper LeftMenu(string action)
    {
        if (ViewContext.RouteData.GetRequiredString("action").ToLower() == action.ToLower())
        {
            @:<a href="/arsadmin/@action" class="list-group-item list-group-item-ars active">@action</a>
        }
        else
        {
            @:<a href="/arsadmin/@action" class="list-group-item list-group-item-ars">@action</a>
        }
    }
    <div class="container-fluid row">
        <div class="container col-lg-2">
            <div class="list-group">
                @if (e != null)
                {
                    @LeftMenu("Route")
                    @LeftMenu("Flight")
                    @LeftMenu("Order")
                    @LeftMenu("Service")
                    @LeftMenu("Customer")
                    if (e.Role == 0)
                    {
                        @LeftMenu("Employee")
                        @*@LeftMenu("Country")
                        @LeftMenu("Airline")
                        @LeftMenu("Airport")
                        @LeftMenu("FlightDistance")
                        @LeftMenu("Aircraft")*@
                    }
                }

                <!--
                <a href="~/arsadmin/Route" class="list-group-item list-group-item-ars">Route</a>
                <a href="~/arsadmin/Flight" class="list-group-item list-group-item-ars">Flight Schedule</a>

                <a href="~/arsadmin/Order" class="list-group-item list-group-item-ars">Order</a>
                <a href="~/arsadmin/Service" class="list-group-item list-group-item-ars">Service</a>

                <a href="~/arsadmin/Employee" class="list-group-item list-group-item-ars">Employee</a>
                <a href="~/arsadmin/Customer" class="list-group-item list-group-item-ars ">Customer</a>

                <a href="~/arsadmin/Country" class="list-group-item list-group-item-ars">Country</a>
                <a href="~/arsadmin/Airline" class="list-group-item list-group-item-ars">Airline</a>
                <a href="~/arsadmin/Airport" class="list-group-item list-group-item-ars">Airport</a>
                <a href="~/arsadmin/FlightDistance" class="list-group-item list-group-item-ars">Flight Distance</a>
                <a href="~/arsadmin/Aircraft" class="list-group-item list-group-item-ars">Aircraft</a>
                    -->
            </div>
        </div>

        <div class="container col-lg-10">
            <div id="body" class="row container-fluid">
                @RenderBody()
            </div>

        </div>
    </div>
    <p></p>
    <footer class="bg-ars-light">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - HDTV</p>
        </div>
    </footer>


</body>
</html>